@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,600;1,700&display=swap');

@font-face {
  font-family: "Oilvare Base";
  src: url("https://db.onlinewebfonts.com/t/cd1ff12a61d0f65ad3079a7c7461b61f.eot");
  src: url("https://db.onlinewebfonts.com/t/cd1ff12a61d0f65ad3079a7c7461b61f.eot?#iefix") format("embedded-opentype"),
       url("https://db.onlinewebfonts.com/t/cd1ff12a61d0f65ad3079a7c7461b61f.woff2") format("woff2"),
       url("https://db.onlinewebfonts.com/t/cd1ff12a61d0f65ad3079a7c7461b61f.woff") format("woff"),
       url("https://db.onlinewebfonts.com/t/cd1ff12a61d0f65ad3079a7c7461b61f.ttf") format("truetype"),
       url("https://db.onlinewebfonts.com/t/cd1ff12a61d0f65ad3079a7c7461b61f.svg#Oilvare Base") format("svg");
}
